<!DOCTYPE HTML>
<html>
<head>  
    <link rel="icon" href="logo2.png" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../src/assets/main.css"/> -->
   <style>


 
  .topnav {
    background-color: #52343e;
    background-image: linear-gradient(to right, #795360, #a46464);
    overflow: hidden;
  
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 19px;
  }
  

  .topnav a:hover {
    background-color: #bfbab2;
    color: rgb(51, 48, 48);
  }
  

  .topnav a.active {
    background-color: #795360d0;
    color: white;
  }
    </style>

    <title>COVID-19</title>

 



</head>
<body>

    
  

     <div class="topnav">
         <a class="active" href="PP.html">Pagina principala</a>
         <a href="Harta.js">Harta</a>
         <a href="STS.html">Statistici</a>
      </div>
    <div id="unu">
      <iframe scrolling="no" src="https://datelazi.ro/embed/categorie-varsta" width="1320" height="700"></iframe>
    </div>

    <div>
      <iframe scrolling="no" src="https://datelazi.ro/embed/doze-pe-zi" width="1320" height="650"></iframe>
    </div>



</body>



</html>